.body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
  margin-bottom: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
}
.application-wrap {
  max-width: 600px;
  margin: 30px auto;
}
.application {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .F-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
