body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/288/original/clear_skies.jpg?1691265006);
}

h1 {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
  margin-bottom: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
}
li::first-letter {
  text-transform: capitalize;
}
.application-wrap {
  max-width: 600px;
  margin: 30px auto;
}
.application {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #1e549f;
  background-color: whitesmoke;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5 px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .F-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .fLink {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecastDay {
  font-size: 16px;
  color: black;
}
.weather-forecast-temp {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}
.weather-forecast-max {
  color: black;
}
.weather-forecast-min {
  color: #70757a;
  opacity: 0.7;
}
